{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TORNEO</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% if debug %}
    <script type="module" src="http://127.0.0.1:3000/@vite/client"></script>
    <script type="module">
      import RefreshRuntime from "http://127.0.0.1:3000/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" crossorigin src="http://127.0.0.1:3000/src/main.tsx"></script>
    {% else %}
    <script type="module" crossorigin src="{% static 'js/main.js' %}"></script>
    {% endif %}
    
    
  </head>
  <body>
    <div id="root"></div>
    
    <script id="context-data" type="application/json">
      {{ data|json_script:"context-data" }}
    </script>
  </body>
</html>
